@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


 :root{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: white;
}

li{
    list-style: none;
    cursor: pointer;
    position: relative;
}

li:hover::before{
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    background: blue;
    bottom: -8px;
    right: 0;
    color: rgb(199, 199, 233);
}

.icon{
    cursor: pointer;
}

/*
.card{
    background: #000;
} */